Source/.vs/
Source/Plug-in Downloader/bin/
Source/Plug-in Downloader/obj/
Source/Сomponent Сomparer/bin/
Source/Сomponent Сomparer/obj/
Source/Everywhere Search/obj/
Source/Everywhere Search/bin/
Source/User Views Manager/bin/
Source/User Views Manager/obj/
